numpy<2.0.0
tqdm
silero-vad
tokenizers
datetime
soundfile
huggingface-hub
piper-tts
websocket-server
llama-cpp-python @ https://github.com/asahu-synaptics/llama-cpp-python/releases/download/v0.3.7/llama_cpp_python-0.3.7-cp310-cp310-linux_aarch64.whl
synap-python @ https://github.com/synaptics-synap/synap-python/releases/download/v0.0.4-preview/synap_python-0.0.4-cp310-cp310-manylinux_2_35_aarch64.whl
onnxruntime>=1.20.0,<1.21.0
scikit-learn
opencv-python-headless
sentencepiece
kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.1/kittentts-0.1.0-py3-none-any.whl