numpy<2.0.0
tqdm
silero-vad
tokenizers
datetime
soundfile
huggingface-hub
piper-tts
websocket-server
llama-cpp-python @ https://synaptics-synap.github.io/examples-prebuilts/packages/llama_cpp_python-0.3.14-cp310-cp310-linux_aarch64.whl
synap-python
onnxruntime>=1.20.0,<1.21.0
scikit-learn
opencv-python-headless
sentencepiece
kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.1/kittentts-0.1.0-py3-none-any.whl
